.vscode
**/__pycache__/
**/*.pyc
Dockerfile
.dockerignore
.vscode
start.sh

logs
encrypted_config.json

# neo4j docs
rag_service/vectorstore/neo4j/*.json
rag_service/vectorstore/neo4j/*.txt
rag_service/vectorstore/neo4j/*.md