/.vscode/
/.idea/
*__pycache__*
/.pytest_cache/
/dist
poetry.lock
rag_service/security/init
*venv

nohup*
.env
start.sh

*.key
*.crt

/logs
app.log
encrypted_config.json

# neo4j docs
rag_service/vectorstore/neo4j/documents
# embedding models
rag_service/embedding_models
# dagster.yaml
dagster.yaml

# Vannai
rag_service/llms/vanna_docs
