storage:
  postgres:
    username:
    password:
    hostname:
    db_name:
    port: 5432

run_queue:
  max_concurrent_runs: 5

run_retries:
  enabled: true
  max_retries: 3

telemetry:
  enabled: false