aiofiles==23.2.1
concurrent-log-handler==0.9.25
dagster==1.6.9
dagster-postgres==0.22.9
dagster-webserver==1.6.9
fastapi==0.110.0
fastapi-pagination==0.12.19
langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-text-splitters==0.0.1
langsmith==0.1.23
more-itertools==10.2.0
sqlmodel==0.0.16
starlette==0.36.3
uvicorn==0.28.0
sseclient==0.0.27
sseclient-py==1.8.0
urllib3==1.26.18
psycopg2-binary==2.9.9
itsdangerous==2.1.2
python-multipart==0.0.9
python-docx==1.1.0
pandas==2.2.1
pgvector==0.2.5
chardet==5.2.0
pydantic==1.10.14
pyopenssl==24.1.0